@tailwind base;
@tailwind components;
@tailwind utilities;

@layer heading {
  @font-face {
    font-family: "Raleway";
    font-size: x-large;
    font-weight: 800;
    src: url(/fonts/Raleway-VariableFont_wght.ttf);
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-md text-sm font-medium transform transition focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-800 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-neutral-900 text-neutral-50 hover:bg-neutral-500 h-10 px-4 py-2 mt-6 hover:-translate-y-1 active:bg-neutral-900;
  }
}
